.titular1 {
    max-width: 30vw;
    align-items: center;

    h1 {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 180%;
        text-align: justify;
    }
    
    p {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: justify;
    }

}